{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "ignorePatterns": ["serviceWorkerRegistration.js", "src/reportWebVitals.js"],
    "rules": {
      "prettier/prettier": ["error"],
      "react/jsx-filename-extension": 0,
      "import/prefer-default-export": 0,
      "react/prop-types": 0,
      "react/button-has-type" : 0,
      "no-unused-vars" : "warn"
    }
  }