.mainWrapper {
  margin-bottom: 2em;
}

.date {
  text-align: center;
  font-size: 20px;
  margin-top: 0.5em;
}

.progressWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressCircle {
  display: flex;
  justify-content: center;
  margin: 0 2em;
}
