body {
  background: #444444;
  color: #b4b4b4;
}

.app {
  height: 10em;
  position: relative;
}

.loaderWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}